@import "colors";
@import "media-queries";

/*Pre-Defined Data Template*/
%align {
  display: flex;
  align-items: center;
}

.navbar {
  background: $royalblue;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2); /*Make the navbar responsive*/
  z-index: 10;
  position: relative;

  /*Nesting Styles with SASS*/
  .navLogo {
    color: $dark;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 24px;
    @extend %align;
  }

  &_bars {
    opacity: 0;
    @include mobile {
    }
    @include tablet {
      color: $dark;
      opacity: 1;
      position: absolute;
      top: 22px;
      right: 20px;
      font-size: 2rem;
    }
  }
  .navMenu {
    @extend %align;
    list-style: none;
    text-align: center;
    margin-right: 2px;

    @include tablet {
      display: none; /*Hide in tablet width*/
    }

    &--links {
      color: white;
      @extend %align;
      justify-content: center;
      text-decoration: none;
      padding: 0 1rem;
      &:hover {
        color: $gold;
        transition: all 0.3 ease;
      }
    }
  }
}
